main {
  text-align: center;
}

#canvas {
  background-color: ghostwhite;
  min-height: 600px;
  min-width: 950px;
}

#tooltip {
  visibility: hidden;
  height: auto;
  width: auto;
}

#canvas-container {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 2rem;
}

#legend-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 2rem;
}

.county:hover {
  fill: palevioletred;
  cursor: pointer;
}
